// var button
$font-size-sm: 20px;
$line-height-tight: 100%;
$border-radius-none: 0;
$spacing-squish-xs: 32px;
$font-family-highlight: 'Archivo', sans-serif;
$font-weight-medium: 600;
$color-default-neutral-05: #FFFFFF;
$color-brand-primary-03: #F04E23;

// // var heading
// $font-size-lg: ;
// $line-height-distant: ;
// $font-family-highlight: ;
// $font-weight-bold: ;
// $color-neutral-01: ;

// //var subtitle
// $font-size-md: ;
// $line-height-medium: ;
// $font-family-highlight: ;
// $font-weight-medium: ;
// $color-neutral-02: ;

// // var paragraph
// $font-size-xs: ;
// $line-height-distant: ;s
// $font-family-highlight: ;
// $font-weight-regular: ;
// $color-neutral-02: ;

// // shape
// $border-radius-none: ;
// $spacing-inset-lg: ;
// $border-width-thin: ;
// $color-neutral-04: ;
// $color-neutral-05: ;